html, body {
    width:100%;
    height:100%;
    position:fixed;
    background-color:black;
    overflow: hidden;
    font-family: "Inconsolata", sans-serif;
    color: #94c0dc;

	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Standard */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas, #canvas0, #canvas1 {
    /*cursor: crosshair;*/
    position:absolute;
    width:100%;
}
